*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-color:#1ED760;
    --secondary-color: rgb(41, 65, 171);
}

header
{
    background-color: black;
    color: white;
    height: 55px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

div.logo img
{
    width: 90px;
    font-size: 20px;
}
header #menu, header #mobile-menu
{
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: black;
    width: 500px;
    height: 100%;
    padding: 0;
    list-style-type: none;
}
header #menu li
{
    color: white;
    padding: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}
header #menu li a, #mobile-menu #items li a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
header #menu li a.register
{
    color: rgb(199, 199, 199);
}
header #menu li:hover, #mobile-menu #items li:hover
{
    cursor: pointer;
}
header #menu li:hover a,#mobile-menu #items li:hover a
{
    color: var(--main-color);
}
header #mobile-button
{
    display: block;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background: transparent;
    z-index: 999;
}

/*Mobile Menu*/

header #mobile-menu
{
    display: none;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    padding: 38px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 99;
}
#mobile-menu section#items
{
    height: 330px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#mobile-menu #items li
{
    height: 60px;
}
#mobile-menu #items hr
{
    border: solid 1px;
    color: white;
    width: 20px;
}
#mobile-menu #items li a
{
    font-size: 30px;
    font-weight: 700;
} 
#mobile-menu #items #links
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 160px;
}
#mobile-menu #items #register
{
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}
#mobile-menu #items #register li a
{
    font-size: 22px;
    font-weight: 400;
}

/*Main Content*/

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    background-image: url("https://www-growth.scdn.co/static/home/bursts-mobile.svg");
    background-position: center top 40%;
    background-repeat: no-repeat;
    background-size: 215%;
}
main section
{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 5px;
}
main section h1
{
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
}
main section h3
{
    color: var(--main-color);
    font-size: 15px;
}
main section button
{
    border: none;
    background-color: var(--main-color);
    color: var(--secondary-color);
    width: 300px;
    height: 48px;
    padding: 10px;
    border-radius: 35px;
    font-size: 14px;
    text-transform: uppercase;
}
main section button:hover
{
    cursor: pointer;
    background-color: #39db72;
}

/*Break Points*/

@media(min-width:680px)
{
    main
    {
        background-size: 140%;
        background-position: center 45%;
    }
    main section
    {
        width: 100%;
    }
    main section h1
    {
        font-size: 100px;
    }
}
@media(min-width:990px)
{
    header
    {
        height: 80px;
        padding: 0 3%;
    }
    header div.logo
    {
        padding: 15px;
    } 
    div.logo img
    {
        width: 130px;
    }
    header #mobile-button
    {
        display: none;
    }

    header #menu
    {
        display: flex;
    }
    main
    {
        min-height: 846px;
        background-size: 85%;
    }
}

@media(min-width:1200px)
{
    header
    {
        padding-left: 7%;
        padding-right: 7%;
    }
    main section h1
    {
        font-size: 140px;
    }
}